<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Encurtador de URL</title>
    <style>
        #url_short {
            display: none;
        }
    </style>
</head>
<body>
    <form action="/encoder" method="post" enctype="application/x-www-form-urlencoded">
        Url longa: <input type="text" name="url" id="url" placeholder="https://google.com"> <br>
        Url curta: <input type="text" name="url_short" id="url_short"> <br>
        Gerar automaticamente: <input type="checkbox" checked name="url_generator" id="url_generator"> <br>
        <button type="submit">enviar</button>
    </form>    
    <script src="../public/script.js"></script>
</body>
</html>